@import url('https://font.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: #16141c;
}

/* Notes */

.container_fluid{
    width: 100vw;
    display: flex;
    /* height: 100vh; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

#main-heading {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    width: 70%;
    border: 2px solid saddlebrown;
}

#notes {
    width: 70%;
    box-sizing: border-box;
    padding-left: 30px;
    padding-bottom: 10px;
    border: 2px solid blue;
}


::-webkit-scrollbar {
    display: none;
}


.topic {
    color: white;
    text-align: left;
    padding: 50px 30px 30px 30px;
    /* padding: 50px 30px; */
}

table {
    width: 750px;
    box-shadow: -6px 12px 12px -6px rgba(255, 255, 255, 0.5);
}

table,
td {
    padding: 20px;
    text-align: center;
    cursor: pointer;
    color: white;
}

th {
    padding: 20px;
    text-align: center;
    cursor: pointer;
    color: antiquewhite;
}

td {
    font-size: 18px;
    color: white;
}

th {
    font-size: 20px;
    font-weight: bolder;
}

tr:nth-child(odd):hover {
    background-color: lightgreen;
    color: #000;
    transform: scale(1);
    transition: transform 3s ease-in;
}

tr:nth-child(even):hover {
    background-color: slateblue;
    color: #000;
    transform: scale(1);
    transition: transform 3s ease-in;
}

.btn {
    display: block;
    margin: auto auto;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 23px;
    cursor: pointer;
    transform: rotate(0deg) skewX(0deg) translate(0, 0);
    transition: 0.5s;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1), -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
}


.btn:hover {
    box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1), inset -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), inset 2px 2px 8px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width:1300px) {
    #left {
        left: -101px;
    }

    #right {
        display: flex;
        flex-wrap: wrap;
        left: 138px;
        margin-left: 0;
        width: 66%;
        top: 266px;
    }

    .topic {
        padding: 0px 30px 0px 30px;
    }

    table {
        position: relative;
        top: -149px
    }

    table,
    td {
        padding: 16px;
    }

    .btn {
        padding: 10px 15px;
        width: 90%;
    }
}

@media screen and (max-width:1217px) {
    #right {
        width: 54%;
    }
}

@media screen and (max-width:1184px) {
    .heading {
        left: 345px;
        display: flex;
        flex-wrap: wrap;
    }

}

